@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

button {
  font: inherit;
  font-size: 10px;
  background: lightblue;
  padding: 0.2rem 0.5rem;
  color: white;
  border: 1px solid lightblue;
  margin: 0.5rem 0;
  border-radius: 5px;
  cursor: pointer;
}

button:hover,
button:active {
  background: white;
  color: lightblue;
}

button:focus {
  outline: none;
}

button.button-outline {
  background: white;
  color: lightblue;
}

button.button-outline:hover,
button.button-outline:active {
  background: lightblue;
  color: white;
  box-shadow: none;
}
